<p>This is the myroute view.</p>

<ul class="testing">
  <li class="setting-compass">1</li>
  <li class="setting-github">2</li>
  <li class="setting-qq">3</li>
  <li class="setting-weibo">4</li>
</ul>


<hr/>
<hello></hello>
<hello><span>原始内容在这里1</span></hello>
<hello>原始内容在这里2</hello>
<hello></hello>


<br/><br/>
public variable: {{myservice.variable}}
<br/>
private variable (through getter): {{myservice.getPrivate()}}
<br/><br/>

<p>
<div>
  <expander-abc class='expander' expander-title='title'>
    {{text}}
  </expander-abc>
</div>
</p>

<br/><br/>